* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: cyan;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    position: absolute;
}
.ball {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: all 4s linear;
    animation: name 10s infinite;
}
 @keyframes name {
  100%{
     transform: rotate(360deg);   
   }  
}

#button {
    height: 80px;
    width: 120px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bi {
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 0%;
    position: absolute;
}

.bi-arrow-up-square {
    top: 0;
    left: 40px;
}

.bi-arrow-right-square {
    bottom: 0;
    right: 0;
}

.bi-arrow-left-square {
    bottom: 0;
    left: 0;
}

.bi-arrow-down-square {
    bottom: 0;
    left: 40px;
}
